


/* Callable CSS */

/* --text */
.lg-fs {
    font-size: 20px;
}


.d-rounded {
    border-radius: 50px;
}
.btn-rounded{
    border-radius: 12px;
}

/* Cards */

body {
    font-family: "Roboto", sans-serif;
}

.login-card {
    width: 420px;
    width: 420px;
    padding: 8px 12px;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    
}

@media only screen and (max-width: 500px) {
    .ofc-card {
        flex-direction: column;
    }

    .ofc-card .ofc-item {
        width: 100% !important;
    }

}